<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smoke -h</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .gb-padding {
            padding: 0 10px;
        }

    </style>
    <style id="jss-server-side"><%- cssString %></style>
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/index.js" charset="utf-8"></script>
<script src="/vendor.js" charset="utf-8"></script>
</body>
</html>